
<!-- Amazon Web Services --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/aws/-/avatar"> <a href="aws">Amazon Web Services</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td>✔</td><td></td></tr>
<!-- Angular --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/angular/-/avatar"> <a href="angular">Angular</a></td><td></td><td>✔</td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td></tr>
<!-- Ansible --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/ansible/-/avatar"> <a href="ansible">Ansible</a></td><td></td><td>✔</td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td>✔</td><td></td></tr>
<!-- Bash --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/bash/-/avatar"> <a href="bash">Bash</a></td><td></td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<!-- Cloud Foundry --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/cloud-foundry/-/avatar"> <a href="cloud-foundry">Cloud Foundry</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td>✔</td><td></td></tr>
<!-- Cloud Native Buildpacks --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/cnb/-/avatar"> <a href="cnb">Cloud Native Buildpacks</a></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td></tr>
<!-- Cypress --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/cypress/-/avatar"> <a href="cypress">Cypress</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td></tr>
<!-- dbt --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/dbt/-/avatar"> <a href="dbt">dbt</a></td><td></td><td>✔</td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td>✔</td><td></td></tr>
<!-- DefectDojo --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/defectdojo/-/avatar"> <a href="defectdojo">DefectDojo</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td></tr>
<!-- Docker --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/docker/-/avatar"> <a href="docker">Docker</a></td><td></td><td>✔</td><td></td><td>✔</td><td>✔</td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td></tr>
<!-- Gitleaks --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/gitleaks/-/avatar"> <a href="gitleaks">Gitleaks</a></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<!-- Go --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/golang/-/avatar"> <a href="golang">Go</a></td><td></td><td>✔</td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<!-- Google Cloud --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/gcloud/-/avatar"> <a href="gcloud">Google Cloud</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td>✔</td><td></td></tr>
<!-- Gradle --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/gradle/-/avatar"> <a href="gradle">Gradle</a></td><td></td><td>✔</td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td></tr>
<!-- Helm --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/helm/-/avatar"> <a href="helm">Helm</a></td><td></td><td></td><td>✔</td><td>✔</td><td>✔</td><td></td><td>✔</td><td>✔</td><td>✔</td><td></td><td>✔</td><td></td></tr>
<!-- k6 --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/k6/-/avatar"> <a href="k6">k6</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td></tr>
<!-- Kubernetes --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/kubernetes/-/avatar"> <a href="kubernetes">Kubernetes</a></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td>✔</td><td></td><td></td><td></td><td>✔</td><td></td></tr>
<!-- Maven --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/maven/-/avatar"> <a href="maven">Maven</a></td><td></td><td>✔</td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td></tr>
<!-- MkDocs --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/mkdocs/-/avatar"> <a href="mkdocs">MkDocs</a></td><td></td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<!-- MobSF --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/mobsf/-/avatar"> <a href="mobsf">MobSF</a></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<!-- Node.js --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/node/-/avatar"> <a href="node">Node.js</a></td><td></td><td>✔</td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<!-- OpenShift --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/openshift/-/avatar"> <a href="openshift">OpenShift</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td>✔</td><td></td></tr>
<!-- PHP --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/php/-/avatar"> <a href="php">PHP</a></td><td></td><td>✔</td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<!-- Postman --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/postman/-/avatar"> <a href="postman">Postman</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td></tr>
<!-- Puppeteer --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/puppeteer/-/avatar"> <a href="puppeteer">Puppeteer</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td></tr>
<!-- Python --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/python/-/avatar"> <a href="python">Python</a></td><td></td><td>✔</td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td></tr>
<!-- Robot Framework --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/robotframework/-/avatar"> <a href="robotframework">Robot Framework</a></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td></tr>
<!-- S3 (Simple Storage Service) --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/s3/-/avatar"> <a href="s3">S3 (Simple Storage Service)</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td>✔</td><td></td></tr>
<!-- Scala/SBT --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/sbt/-/avatar"> <a href="sbt">Scala/SBT</a></td><td></td><td>✔</td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td></tr>
<!-- semantic-release --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/semantic-release/-/avatar"> <a href="semantic-release">semantic-release</a></td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td></tr>
<!-- SonarQube --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/sonar/-/avatar"> <a href="sonar">SonarQube</a></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<!-- SQLFluff lint --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/sqlfluff/-/avatar"> <a href="sqlfluff">SQLFluff lint</a></td><td></td><td>✔</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<!-- Terraform --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/terraform/-/avatar"> <a href="terraform">Terraform</a></td><td></td><td>✔</td><td>✔</td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td>✔</td><td></td><td></td></tr>
<!-- Test SSL --><tr><td class="tbc-tmpl-name"><img class="tbc-tmpl-icon" src="https://gitlab.com/to-be-continuous/testssl/-/avatar"> <a href="testssl">Test SSL</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>✔</td><td></td><td></td><td></td><td></td></tr>
